
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');




.pan{
    max-height:100px ;
    max-width: 150px;
    margin-right: 60px;
    margin-top: 150px;
    margin-left: 60px;
    justify-content: center;

}
.container{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
   
   
}

.codigo{
    .code{
        font-size: 20px;
        text-align: center;
        margin-left: 30px;
        justify-content: center;
    }
}
.foto1{
    background-size: cover;
    background-position: center;
    
    width: 100%;
    opacity: 0.1;
    
    position: absolute;
    top:-50px;
      
     
    opacity: 0.3;
    z-index: -2;
    margin-top: 90px;
    img{
        height:600vh;
    
      }
    }
    .foto{
        margin-left: 80px; 


    }
a{
    
        text-decoration: none;
        text-align: center;
        color: black;
   
}


   
   @media(max-width: 700px){

  .container .row{
        font-family: 'Open Sans Condensed', sans-serif;
        
        
        margin-top: 60px;
        margin-left: 50px;
        margin-bottom: 200px;
        
        
       
    }
    .container .row .codigo{
        margin-bottom: 10px;
        
        
       
    }
    }
   
    @media(min-width: 700px){
        .container .row{

          font-family: 'Open Sans Condensed', sans-serif;
        
        
        margin-top: 400px;
        margin-left: 70px;
        margin-bottom: 200px;
          
         
        }
       }
    @media(min-width: 1200px){
        .container .row{

            font-family: 'Open Sans Condensed', sans-serif;
          
          
          margin-top: 100px;
          margin-left: 70px;
          margin-bottom: 200px;
            
           
          }
         
   
    }