@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


.nav-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;

}

.navbar{
    text-align: center;
}