<div class="container">

    <h1 class="principal">Beatriz Campos de la Oliva</h1>

    <div class="contenedor">
        <img src="../../../assets/images/Captura de pantalla 2021-04-26 a las 12.38.26 (2).png" alt="">

    </div>
    <div class="cuadro">
        <h3 class="hidden"> Beatriz Campos de la Oliva</h3>

        <p class="hidden"> Me he dedicado al área social, trabajando desde que empecé los estudios.
            Actualmente me he formando como desarrolladora Full-Stack, dando un giro a mi carrera profesional y
            descubriendo un mundo de retos y proyectos dónde puedo ofrecer mi experiencia y mis conocimientos en varias
            tecnologías y distintos flujos de tareas, con una ética laboral y personal basada en la disciplina, en la
            vocación hacia las personas y en la predisposición a un continuo aprendizaje.
        </p>
    </div>

    <button type="button" class="btn btn-outline-info" [routerLink]="['/cv']">CV</button>



    <!--  <a class="icon" href="../../../assets/images/BEATRIZ CAMPOS DE LA OLIVA-8.pdf" download="">🇪🇸</a> -->






</div>
<img class="foto" src="../../../assets/images/Beatriz Campos2.png" alt="">
<i class="fas fa-arrow-right"></i>