@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.container{
    margin-top: 50px;
    max-height: 800px;
    max-width: 900px;
    background-size: cover;
    opacity: 0.8;
    font-family: 'Open Sans Condensed', sans-serif;

    .principal{
        
        font-family:'Open Sans Condensed', sans-serif;;
        font-weight:normal;
        color:black;
        text-align: center;
        margin-left: 700px;
        
    }
    a{
    margin-left: 60px;
    font-size: 30px;
    display: inline-block;
    transition: transform .2s;
        a:hover{
            transform: scale(1.5s);
        }
    
    }
}

.contenedor{
    border:solid rgb(66, 69, 80) 5px;
    margin-right: 500px;
    padding: 10px;
    p{
        display: none;
    }
    
}

.contenedor img {
    transform: rotateZ(10deg);
    transition: 1s;
}
 .contenedor:hover img {
    transform: rotateZ(0deg);
}
.foto{
    background-size: cover;
    background-position: center;
   
    width: 100%;
    opacity: 0.3;
    
    position: absolute;
     top:-50px;
      
     
    opacity: 0.7;
    z-index: -2;
    img{
      height:100vh;

    }
  
}

button{
   margin-left: 100px;
   margin-top: 10px;
   margin-bottom: 170px;
   font-size: 30px;
  }




  @media(max-width: 700px){
      button{
       
        
        margin-bottom: 170px;
        font-size: 30px;
      }

    .foto{
        background-size: cover;
        background-position: center;
       
        width: 100%;
        opacity: 0.3;
        
        position: absolute;
         top:60px;
          
         
        opacity: 0.7;
        z-index: -2;
        img{
          height:100vh;
    
        }
      
    }  
      .container{
  
    max-height: 500px;
    max-width: 900px;
    background-size: cover;
    opacity: 0.8;
    font-family: 'Open Sans Condensed', sans-serif;
    

 
    
    
   
    
    }
    .contenedor{
        display: none;
    }

    h3{
        text-align: center;
        margin-top: 250px;
        
    }
    h1{
        display: none;
    }
   p{
        margin-top: 10px;
    }
    
  }

   
 
   
         
@media(min-width: 1240px){
   
        .hidden{
           display: none;
        }   
        
     
      }

  
    